<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.infosys.stocktake">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-feature android:name="android.hardware.nfc" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".inventory.profile.AdminRequests"
            android:exported="true" />
        <activity android:name=".loans.ReturnHealthCheck" /> <!-- Inventory Activities -->
        <activity android:name=".inventory.InventoryActivity" />
        <activity android:name=".inventory.items.ItemDetailsActivity" />
        <activity android:name=".inventory.items.AddItemActivity" /> <!-- QR Activities -->
        <activity android:name=".qr.QrScannerActivity" />
        <activity android:name=".qr.QrOptionsActivity" /> <!-- Loan Activities -->
        <activity android:name=".inventory.itemloanhistory.ItemLoanHistoryActivity" />
        <activity android:name=".loans.AddLoanActivity" />
        <activity android:name=".loans.LoanDetailsActivity" /> <!-- Profile Activities -->
        <activity android:name=".Profile" />
        <activity android:name=".auth.ProfileSetupAddClubActivity" />
        <activity android:name=".auth.ProfileSetupActivity" />
        <activity android:name=".nfc.NfcReaderActivity" />
        <activity android:name=".loans.PersonalLoanHistoryActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".inventory.clubs.ViewClubActivity" /> <!-- Auth Activities -->
        <activity android:name=".auth.GoogleLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- SuperAdmin Activities -->
        <activity android:name=".superadmin.SuperadminClubViewActivity" />
        <activity android:name=".superadmin.AddClubDetailsActivity" />
        <activity android:name=".superadmin.EditClubDetailsActivity" />
    </application>

</manifest>